* {
  box-sizing: border-box;
}

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #ffe6ff;
  background-color: black;
}

img {
  width: 100%;
  height: auto;
  z-index: 2;
  padding:0;
  margin: 0;
}

.logo {
  width: 100px;
  height:auto;
  float: left;
  z-index:1;
  position:fixed;
}

.contact {
  width: 40px;
  float:right;
  position: fixed;
  top:0;
  right:0;
  border:0;

}

.email {
  width: 40px;
  height: auto;
  padding-right: 15px;
  padding-top: 20px;
}

.instagram {
  width: 40px;
  height:auto;
  padding-right: 15px;

}

.nav {
  width: 40px;
  float:right;
  position: fixed;
  padding-right: 15px;
  padding-bottom: 20px;
  bottom: 0;
  right:0;
  border:0;
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 2em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}







@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}


.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}


@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.progress {
  border: 0px solid;
  max-width: 20em;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em;
  position: relative;
}

.progress-bar {
  background-color: blue;
  opacity: 0.2;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  animation-name: prog;
  animation-duration: 4.75s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  z-index: 999;
}

@keyframes prog {

  from {
    width: 0%;
  }

  to {
    width: 100%;
  }

}

.intro {

  background-image: url("img/Loading-page.gif");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 330px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation-name: sick-intro;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  z-index: 998;
}

@keyframes sick-intro {
  
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100vh);
    opacity: 0;
  }

}